{% extends "core/base.html" %}
{% load static %}
{% block contend %}

<div class="mt-5">
    <h1 class="text-warning mb-5 border-bottom">Skill Highlights</h1>

    <div class="row text-white text-center mb-5">
        <div class="col-sm-3">
            <h1><i class="fa-brands fa-python fa-beat-fade" style="color: #0eec3a;"></i></h1>
            <h4>Python</h4>
            
        </div>
        <div class="col-sm-3">
            <h1><i class="fa-solid fa-c fa-beat-fade" style="color: #0eec3a;"></i></h1>
            <h4>C/C++</h4>
            
        </div>
        <div class="col-sm-3">
            <h1><i class="fa-brands fa-js fa-beat-fade" style="color: #0eec3a;"></i></h1>
            <h4>Javascript</h4>
            
        </div>
        <div class="col-sm-3">
            <h1><i class="fa-solid fa-database fa-beat-fade" style="color: #0eec3a;"></i></h1>
            <h4>SQL</h4>
            
        </div>
    </div>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-3">
            <h1><i class="fa-solid fa-d fa-beat" style="color: #0eec3a;"></i></h1>
            <h4>Django</h4>
            
        </div>
        <div class="col-sm-3">
            <h1><i class="fa-solid fa-d fa-beat" style="color: #0eec3a;"></i></h1>
            <h4>Django Rest Framework</h4>
            
        </div>
        <div class="col-sm-3">
            <h1><i class="fa-brands fa-react fa-beat" style="color: #0eec3a;"></i></h1>
            <h4>React</h4>
            
        </div>
        <div class="col-sm-3">
            <h1><i class="fa-brands fa-bootstrap fa-beat" style="color: #0eec3a;"></i></h1>
            <h4>Bootstrap</h4>
            
        </div>
    </div>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-3">
            <h1><i class="fa-brands fa-database fa-beat-fade" style="color: #0eec3a;"></i></h1>
            <h4>MySQL</h4>
            
        </div>
        <div class="col-sm-3">
            <h1><i class="fa-solid fa-database fa-beat-fade" style="color: #0eec3a;"></i></h1>
            <h4>Postgresql</h4>
            
        </div>
        <div class="col-sm-3">
            <h1><i class="fa-brands fa-docker fa-beat-fade" style="color: #0eec3a;"></i></h1>
            <h4>Docker</h4>
            
        </div>
        <div class="col-sm-3">
            <h1><i class="fa-brands fa-git fa-beat-fade" style="color: #0eec3a;"></i></h1>
            <h4>Git</h4>
            
        </div>
    </div>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-3">
            <h1><i class="fa-brands fa-github fa-beat" style="color: #0eec3a;"></i></h1>
            <h4>Github</h4>
            
        </div>
        <div class="col-sm-3">
            <h1><i class="fa-brands fa-html5 fa-beat" style="color: #0eec3a;"></i></h1>
            <h4>HTML</h4>
            
        </div>
        <div class="col-sm-3">
            <h1><i class="fa-brands fa-css3-alt fa-beat" style="color: #0eec3a;"></i></h1>
            <h4>CSS</h4>
            
        </div>
        <div class="col-sm-3">
            <h1><i class="fa-brands fa-t fa-beat" style="color: #0eec3a;"></i></h1>
            <h4>Tailwind</h4>
            
        </div>
    </div>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-3">
            <h1><i class="fa-solid fa-globe fa-beat-fade" style="color: #0eec3a;"></i></h1>
            <h4>Web Scraping</h4>
            
        </div>
    </div>

</div>

<div class="mt-5">
    <h1 class="text-warning mb-5 border-bottom">Technical Tools</h1>
    <div class="row text-white text-center mb-5">

        <div class="col-sm-3">
            <h1><img height="40px" width="40px" src="{% static 'skills/images/chrome.png' %}" alt=""></h1>
            <h4>Chrome Dev-Tools</h4>
        </div>
        <div class="col-sm-3">
            <h1><img height="40px" width="40px" src="{% static 'skills/images/vscode.png' %}" alt=""></h1>
            <h4>VsCode</h4>
        </div>
        <div class="col-sm-3">
            <h1><img height="40px" width="40px" src="{% static 'skills/images/pycharm.png' %}" alt=""></h1>
            <h4>Pycharm</h4>
        </div>
        <div class="col-sm-3">
            <h1><img height="40px" width="40px" src="{% static 'skills/images/postman.png' %}" alt=""></h1>
            <h4>Postman</h4>
        </div>
    </div>
</div>
<div class="mt-5">
    <h1 class="text-warning mb-5 border-bottom">Competitive Programming Problem solving </h1>

    <div class="row text-white text-center mb-5">
        <div class="col-sm-3">
            <img height="40px" width="40px" src="{% static 'skills/images/Codeforse.png' %}" alt="">
            <h4 style="color: #0eec3a;">500+ problems</h4>
            <p>Codeforce</p>
            
        </div>
        <div class="col-sm-3">
            <img height="40px" width="40px" src="{% static 'skills/images/leetcode.png' %}" alt="">
            <h4 style="color: #0eec3a;">200+ problems</h4>
            <p>LeetCode</p>
            
        </div>
        <div class="col-sm-3">
            <img height="40px" width="40px" src="{% static 'skills/images/hackerrank.png' %}" alt="">
            <h4 style="color: #0eec3a;">Python Gold</h4>
            <p>HackerRank</p>
            
        </div>
        <div class="col-sm-3">
            <img height="40px" width="40px" src="{% static 'skills/images/codechef.png' %}" alt="">
            <h4 style="color: #0eec3a;">Rating 1598</h4>
            <p>CodeChef</p>
            
        </div>
    </div>
</div>

{% endblock contend %}