{% extends "core/base.html" %}
{% load static %}
{% block contend %}



<section class="mx-3">
    <div class="text-center ">
        <img style="background-color: rgb(124, 127, 127);" class="border border-2 border-light m-5"  height="300px" width="200px" src="{% static 'core/images/profile.png' %}" alt="profile">
        
    </div>
    <div class="text-white" style="line-height: 2rem;">
        <h2 class="satisfy-regular">Hello,</h2>
        <div>
            <p style="text-indent: 50px; text-align: justify;">I am <b class="text-warning">Hosna Mobarak Nizum</b>. I have completed my  B.Sc in Computer Science & Engineering at Islamic University, Bangladesh. <br><br>
                
                I have been fascinated by the world of technology and its ability to transform lives. This passion led me to pursue a degree in Computer Science, where I gained a comprehensive understanding of software development principles and practices. Throughout my academic journey, I have actively sought opportunities to apply my knowledge and enhance my skills. I have completed several personal projects and I have good profile in online competitive programming platform such as codeforces, codechef, HackerRank etc, which have allowed me to develop a strong proficiency in various programming languages, including Python (Django), C, C++, Javascript  and also Database(Mysql, PostgreSQL). <br><br>
    
                Let's connect to share insights, discuss the latest trends in technology, and explore potential collaborations. I am always eager to learn and contribute to the ever-evolving field of computer science.
    
            </p>
        </div>
    </div>    
    <div class="text-center m-5">
        <a class="btn btn-outline-warning me-3" href="">Hire me</a>
        <a class="btn btn-outline-success ms-3" href="">Contact</a>
    </div>
</section>
{% endblock contend %}